In [1]:
marks=[60,50,48,56]

In [2]:
type(marks)

list

In [5]:
marks
marks[0:3]

[60, 50, 48]

In [6]:
sum(marks)

214

In [7]:
len(marks)

4

In [8]:
min(marks)

48

In [9]:
max(marks)

60

In [21]:
percentage= sum(marks)/(len(marks)*1)

In [22]:
print(percentage)

53.5

list with in list

In [23]:
list2=[["kalpanil",2003],
      ["Kunal",2004]]

In [28]:
for student in list2:
    print(student[1])

2003
2004

In [29]:
for student in list2:
    print(student)

['kalpanil', 2003]
['Kunal', 2004]

In [30]:
for student in list2:
    
    print(student[0])

kalpanil
Kunal

In [31]:
for i in [1,2,3,4][::-1]:
    print(i)

4
3
2
1

In [32]:
list1=[1,3]
list2= list1
list1[0]=4
print(list2)

[4, 3]

In [34]:
list1=[1,2,3,4,5]
temp=list1[0]
list1[0]=list1[4]
list1[4]=temp
print(list1)

[5, 2, 3, 4, 1]

In [35]:
sum(list1)

15

In [36]:
pro=1
for i in list1:
    pro=pro*i
print(pro)

120

In [37]:
5*4*3*2*1

120

In [38]:
list3=[15,7,22,45,10]
x=max(list3)
print(x)

45